--patternlet inline
--swiftversion 5.5
--trimwhitespace nonblank-lines
--ifdef no-indent

--disable spaceInsideBrackets
--disable yodaConditions

--enable isEmpty
--enable sortedSwitchCases
--enable wrapEnumCases
--enable wrapSwitchCases
--enable wrapConditionalBodies
--enable blankLinesBetweenImports
--enable blockComments
--enable preferDouble

--header "\n{file}\n\nCopyright 2022 • Sidetrack Tech Limited\n"
